.header {
	max-width: 320px;
	margin: 30px auto 55px auto;
	text-align: center;
}

.header__mask {
	width: 78px;
    height: 78px;
    background-image: url(/assets/header/mask.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.header__theme {
	margin-top: 25px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 0;
	font-size: 16x;
}

.header__mpp {
	margin-top: 5px;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 16px;
}

.header__seperator {
	height: 1px;
	width: 70px;
	margin: 0 auto 55px auto;
	background: var(--primary-color);
}

