@import 'base.css';

.loading {
    opacity: 1;
    transition: all 16ms cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.hide-loading {
    opacity: 0;
    display: none;
}